#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/bg.svg);
    background-size: cover;
}

#projects {
    display: flex;
    justify-content: space-around;
}

#projects button {
    transition: all 0.3s ease 0s;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
}

#projects button:hover {
    color: #b2dfdb;;
}

@media screen and (max-width: 800px) {
    #projects {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
}