#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background-image: linear-gradient(black, rgb(70, 70, 70));
    margin: 0;
    height: 100px;
}

#navbar li {
    list-style: none;
    font-size: 1.5rem;
}

#navbar li a {
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#navbar li a:hover {
    color: #b2dfdb;
}

#navhome {
    margin-right: auto;
    padding-left: 0px;
}

#contact{
    padding-left: 30px;
}

#about {
    padding-left: 30px;
}

#resume {
    padding-left: 30px;
}